/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-image: linear-gradient(#EEEEEE, #A9A9A9, #FFA500);
  background-repeat:no-repeat; 
  background-attachment:fixed;
  text-align: center;
}
.transparent_edit{
  border: none;
  background: transparent;
  font-size: 1.6em;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
}
.panel-body{
  background-color: #DDDDDD;
}
.panel-footer{
  border-bottom: 1px;
}
.form-control.font_size{
  font-size: 2em;
  text-align: left;
  margin-right: 0;
  padding-right: 0;
}
.btn.btn-primary.font_size{
  font-size: 2em;
  text-align: center;
}
.btn.btn-success{
  width: 100%;
  background-image: linear-gradient(#cccccc, #228822);
  font-weight: 600;
}
